.Header {
    padding: 20px;
    color: #8d8484;
}

h1 {
    text-transform: uppercase;
    background: -webkit-linear-gradient(#b4b2b2, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
